@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-lightest: 242 242 247; /* #F2F2F7 - Light Gray */
  --color-light: 229 229 234;    /* #E5E5EA - Extra Light Gray */
  --color-medium: 209 209 214;   /* #D1D1D6 - Mid Gray */
  --color-dark: 142 142 147;     /* #8E8E93 - Gray */
  --color-darkest: 72 72 74;     /* #48484A - Dark Gray */
}

.dark {
  --color-lightest: 28 28 30;    /* #1C1C1E - Dark Gray */
  --color-light: 44 44 46;       /* #2C2C2E - Gray */
  --color-medium: 58 58 60;      /* #3A3A3C - Light Gray */
  --color-dark: 99 99 102;       /* #636366 - Mid Gray */
  --color-darkest: 242 242 247;  /* #F2F2F7 - Light Gray */
}

body {
  color: rgb(var(--color-darkest));
  background: rgb(var(--color-lightest));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Starry background styles */
.star {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 4s infinite;
  box-shadow: 0 0 3px #ffffff; /* Add glow effect */
}

@keyframes twinkle {
  0% { opacity: 0; transform: scale(0.5); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}

.animate-infinite-scroll {
  animation: infinite-scroll 100s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-40% - 2rem)); }
}